/* styles for my resume */

/* resume content */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* whole document */
#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* name header at top */
#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* reporter header */
#title {
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

/* contact information */
.menu {
  text-align: center;
}

.menu li{
  display: inline;
}

/* title */
.description {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* section titles */
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%;
  min-width: 300px;
}

/* job titles */
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}

/* job organization */
.organization {
  font-weight: 400;
  font-size: 1.25em;
}

/* job dates */
.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;
  margin-top: 2px;
}

/* education */
#degrees ul{
  margin-top: 5px;
}

/* skills */
#do ul{
  margin-top: 5px;
}

/* items in unordered lists */
li {
  font-size: 1em;
}
