/* styles for roughversionfinalproject */

#content{
  margin: 0 auto;
  width: 800px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
}

h1{
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

#byline{
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}
