#content {
  margin: 0 auto;
  width: 900px;
}

blockquote {
font: 16px/24px normal helvetica, sans-serif;
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
color: red;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #ccc;
} 
